<center>
  <h2>Potatoes Come from...</h2>
</center>
<br>
<br>
<p>Potatoes are usually grown from other potatoes. You plant a whole, small potato, or a piece of a larger one for a new plant. The whole potato or cut piece has several slightly recessed, dormant buds or "eyes" on the surface. When conditions are right, these buds will sprout, whether the potatoes are in the ground or in a kitchen cupboard. The sprouts then develop into independent plants.</p>
<strong>Starting From Seed</strong>
<p>The cut potato piece or "seed" piece provides the new sprout or seedling with nourishment from its supply of stored starch.
After you've planted a seed piece, it usually takes one to two weeks for the main stem and first leaves to appear above ground. The root system develops quickly and begins to absorb nutrients as the food supply in the seed piece is used up.</p>
<strong>Top Growth</strong>
<p>The top, leafy part of the plant puts on a lot of growth in the first four to five weeks after planting. Then the main stem of the plant stops growing and produces a flower bud. When that happens, the plant will have as many leaves as it will ever have.</p>
<p>With proper sunshine, the leaves eventually produce more food than the plant needs, and the excess energy is channeled downward to be stored in the "tubers" -- thick, short, underground stems -- which we simply call potatoes. Irish potato tubers develop above the original seed piece, rather than below it like many other underground vegetables.</p>
<strong>Storage</strong>
<p>In general, the storage process starts five to seven weeks after planting, often when the plants have flowered. Some varieties will produce great potatoes with no flowering at all, but usually flowering is a sign that something is definitely happening underground.</p>
<p>Incidentally, potato flowers don't produce any nectar, so they're not visited much by bees or insects. The flowers are self-fertilized, and many potato plants produce small green seed balls about 1-inch in diameter, which contain up to 300 seeds. These seeds are mostly used by potato breeders.</p>
<p>When the tubers start forming, cooler temperatures are a plus. Years ago, research showed that fewer and fewer tubers were formed on the plants as the temperature went from 68o to 84oF. In fact, none formed at 84&deg F.</p>
<strong>Best Weather</strong>
<p>The best potato crops are produced when the daytime temperature is in the 60&deg to 65&deg F range, and when night temperatures are below 57&deg F. When the weather is hot, the top part of the plant respires heavily, reducing the amount of food material that can otherwise be put into storage in the tubers below ground. This helps to explain that while potatoes may be a summer crop up North, they're a late winter, spring or fall crop in the South.</p>
<p>In a big potato-producing state like Idaho, for example, cool summer days and nights keep energy losses to a minimum. Plenty of starch is stored in the tubers, helping to make the Idaho potatoes terrific, big, mealy bakers.</p>
<strong>Best Spuds</strong>
<p>As potatoes enlarge underground, the outside layer of the tuber gets tougher and tougher, keeping moisture within the potato and protecting it from outside attacks by organisms that can cause rot.</p>
<p>This toughening of the skin continues even as the plant tops die, the signal to the gardener that the harvest is at hand. Potatoes can remain underground for a little while after the tops die, so that the last energy in the tops can be transferred to the tubers. If the outer skins can't be rubbed off after the potatoes have been dug, they'll store well.</p>