<center>
  <h2>This is the Home of All things Potato!</h2>
</center>
<br>
<br>
<p>On this site, you can find various bits of knowledge about the nation's favourite side platter.</p>
<p>From Roasted to mash, chips to vodka! Have a look around and get some knowledge!</p>