<center>
  <h2>Potatoes Make a LOT!</h2>
</center>
<br>
<br>
<center>
  <ul>
    <li><%= link_to "Drink", drinks_path %></li>
    <li><%= link_to "Food", food_path %></li>
  </ul>
</center>
<br>
<p>So it turns out, potatoes make a bunch of things! Ranging from foods to drinks!</p>
<p>Click one of the above two links, to learn about what potatoes can make!</p>
<p>You might be surprised about what potatoes can be used for! But I will leave the discovering to you!</p>