<center>
  <h2>Drinks Made From Potatoes!</h2>
</center>
<br>
<br>
<p>While there is a lot of potato foods to enjoy, (<%= link_to "check out the list here", food_path %>) there is only really one notable drink to mention...</p>
<br>
<br>
<center>
  <h3>VODKA!</h3>
</center>
<br>
<p>And that is about it... so go get smashed and enjoy some curly fries as you go!</p>