<center>
  <h2>Food Made From Potatoes!</h2>
</center>
<br>
<br>
<p>There are a lot of food dishes you can make with potatoes.</p>
<p>As Samwise Gamgee said, "Po-tay-toes? Boil 'em, mash 'em, stick 'em in a stew?" or a shoe... if you are weird like my brother.</p>
<br>
<p>So let's have a look at the different dishes potatoes can bring us.</p>
<br>
<br>
<center>
  <p>In truth, the list is so big... I've added a link to a wikipage instead of reciting all that info.</p>
  <a href="https://en.wikipedia.org/wiki/List_of_potato_dishes#Potato_dishes">LOOK AT ALL THE TATER DISHES!</a>
</center>